<div class="main-color py-5">

 <div class="container my-5">
    <h2 class="fs-1 fw-bolder  text-center  text-light">ABOUT COMPONENT</h2>
 <div class="icon  d-flex justify-content-center align-items-center my-3">

    <div class="line "></div>
    <i class="fa-solid fa-star text-white mx-3 fs-5"></i>
    <div class="line "></div>

 </div>
 <div class="paragraphe px-5  ">
 <div class="row px-5">
    <div class="col-md-6 ps-5">
      <p class="text-light ">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
    <div class="col-md-6 pe-5">
        <p class="text-light">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
 </div>
 </div>

</div>