<nav class="navbar navbar-expand-sm text-white bg-navbar" style="height: 120px;">
    <div class="container">
        <a class="navbar-brand active  fs-1 fw-bolder text-white" routerLink="">start framework</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-5" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bolder fs-5" routerLink="about" routerLinkActive="main-color rounded-2" aria-current="page">ABOUT</a >
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bolder mx-3 fs-5" routerLink="portfolio" routerLinkActive="main-color rounded-2">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bolder fs-5" routerLink="contact" routerLinkActive="main-color rounded-2">CONTACT</a>
                </li>
                
            </ul>
            
        </div>
    </div>
</nav>

