.line{
    width: 80px;
    background-color: #2C3E50;
    height: 5px;
    }
    i{
        color: #2C3E50;  
    }

    h2{
        color: #2C3E50 ;
    }



    .main-color{
        background-color:#1ABC9C ;
    }